.App {
  font-family: sans-serif;
  text-align: center;
}

.step {
  font-family: sans-serif;
  text-align: center;
}

.count {
  font-family: sans-serif;
  text-align: center;
}

.output {
  font-family: sans-serif;
  text-align: center;
}
